[Unit]
Description=Director Job runner
 
[Service]
Type=simple
ExecStart=/usr/bin/icingacli director jobs run --forever
Restart=on-success
 
[Install]
WantedBy=multi-user.target
