<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="test/bootstrap.php"
    >
    <testsuites>
        <testsuite name="Director PHP Unit tests">
            <directory suffix=".php">test/php</directory>
        </testsuite>
    </testsuites>
</phpunit>
