input, select, select option, textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

select::-ms-expand, input::-ms-expand, textarea::-ms-expand { /* for IE 11 */
    display: none;
}

select {
    border: 1px solid #f9f9f9;
    cursor: pointer;
}

input, textarea {
    border: 1px solid #f9f9f9;
    padding-left: 0.5em;
}

select:hover, input:hover, textarea:hover, select:focus, input:focus, textarea:focus {
    border: 1px solid #666;
}

select[value=""] {
    color: blue;
    border: 1px solid #666;
}

select option {
    color: inherit;
    padding-left: 0.5em;
}

select option[value=""] {
    color: #aaa;
}

ul.main-actions {
  margin: 0;
  li {
    list-style-type: none;
    width: 20em;
    height: 20em;
    text-align: center;
    display: block;
    padding: 0;
    float: left;

    a {
        i {
            width: 100%;
            height: 1.3em;
            font-size: 8em;
            display: inline-block;
            line-height: 1em;
        }

        border: 1px solid #666;
        padding: 1em;
        margin: 0.5em;
        font-size: 1.1em;
        color: #666;
        font-weight: bold;
        display: block;

        &:hover {
            background-color: #666;
            color: white;
            text-decoration: none;
        }
    }
  }
}

/* BEGIN Forms */
form dt label {
    width: auto;
    font-weight: normal;

    &.required {
        font-weight: bold;
    }
}

form dd {
    display: inline;
    margin: 0;
}

form dt {
    display: inline-block;
    min-width: 12em;
    width: 30%;
}

form dd:after {
    display: block;
    content: '';
}

form textarea {
    height: auto;
}

form dd ul.errors {
    list-style-type: none;
    padding-left: 0.3em;
    font-size: 0.857em;

    li {
        color: @colorCritical;
        padding: 0.3em;
    }
}

form div.hint {
    font-size: 0.857em;
    padding: 1em;
    background-color: #f2f4fd;
    border: 1px solid lightgrey;
    margin: 1em 0;

    pre {
        font-style: normal;
        background-color: white;
        font-size: 1.25em;
        margin: 0;
        padding: 1em;
    }
}

/* END of Forms */
/*
table.simple {
    width: 100%;
    table-layout: auto !important;

    th {
        background: @colorPetrol;
        color: white;
        text-align: left;
        padding: 0.5em 1em;
    }

    td {
        padding: 0.3em 1em;
    }

    th.actions, td.actions {
        width: 6em;
        text-align: right;
    }
}
*/

table.log-properties {

    width: 100%;
    th {
        width: 12em;
        text-align: left;
    }

    td {
        font-family: monospace;
    }

    span {
        padding: 0.3em 1em;
    }

    .old {
        background-color: @colorCriticalHandled;
        color: white;
        text-decoration: stroken;
    }

    .new {
        background-color: @colorOk;
        color: white;
    }
}

p.error {
    color: white;
    padding: 1em 2em;
    background-color: @colorCriticalHandled;
    border: 3px solid @colorCritical;

    a {
        color: inherit;
        font-weight: bold;
    }
}

table.tinystats {
  font-size: 0.7em;
  float: right;
  width: 16em;

  thead {
    th {
      width: 7em;
      text-align: right;
    }

    th:first-child {
      width: auto;
    }
  }

  tbody {
    th, td {
      text-align: right;
    }
  }
}

/* Simple table, test */

table.simple {
  width: auto;
  min-width: 100%;
  border-collapse: separate;
  font-size: 0.857em;
  border-spacing: 0 1px;

  caption {
    caption-side: bottom;
    text-align: right;
    font-style: italic;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  thead {
    th {
      text-align: left;
      border-bottom: 1px solid #888;
      font-weight: normal;
      padding: 0.3em 0.5em;
    }
  }

  tbody {
    tr {
      padding: 0;
      margin: 0;

      td:first-child {
        border-left: 0.5em solid transparent;
      }

      td:last-child {
        border-right: 0.5em solid transparent;
      }
      background-color: #fafcfe;
    }

    tr:nth-child(even) {
      background-color: #f6f8fa;
    }

    tr:hover {
      background-color: #888;
      td {
        color: white;
      }
    }

    tr.active td {
      border-color: black;
    }

    th {
      text-align: left;
      margin: 0;
      padding: 0;
    }

    td {
      padding: 0.1em 1em;
      margin: 0;
      white-space: nowrap;
    }

    td.ok {
      background-color: @colorOk;
    }

    td.nok {
      background-color: @colorCritical;
    }
  }
}

/* END of Simple table, test */

.tree li a {
  display: inline-block;
  padding-left: 2.4em;
  line-height: 2em;
  text-decoration: none;
  color: #777;
  outline: 0;
  background-repeat: no-repeat;
  background-position: 0.8em 0.4em;
}



.tree a.root { background-image: url('../img/director/globe.png'); }
.tree a.host { background-image: url('../img/director/server.png'); }

